.signin-right-side {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("assets/images/backgrounds/card-coffee-cup.jpg");
  background-size: cover;

  .section-left-content {
    max-width: 380px;
  }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100vh;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   margin: auto;
  //   background: rgba($color: #000000, $alpha: 0.65);
  //   z-index: -1;
  
}
.head-area {
  button {
    span {
      font-weight: 500;
    }
  }
}
.form-holder-swipped {
  background: white;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 45%;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.swipped-signup-form {
  padding: 20px 20px 70px 20px;
    min-width: 370px;
    max-width: 370px;
}
