.mat-drawer-container {
  // background: transparent !important;
}
.vert-icon {
  position: absolute;
  right: 10px;
}
.ngx-pagination {

  text-align: center;
}
.customer-info {
  .apexcharts-xaxis {
    display: none;
  }
  .apexcharts-yaxis {
    display: none;
  }
}

